
.icon-filter:before { content: '\e800'; } /* '' */
.icon-graph:before { content: '\e801'; } /* '' */
.icon-activity:before { content: '\e802'; } /* '' */
.icon-setting:before { content: '\e803'; } /* '' */
